.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #f2d355;
  margin: auto;
  text-align: center;
}

p {
  font-size: 1.5rem;
}

.gameChoice,
.buttonContainer,
button {
  margin: 1rem;
}

.gameChoiceContainerFirst,
.gameChoiceContainerSecond {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

@media (min-width: 700px) {
  .gameChoiceContainerFirst,
  .gameChoiceContainerSecond {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

.welcome-button,
.error-button {
  width: 400px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  background-color: #f98a19;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.welcome-button:hover,
.back-button:hover,
.error-button:hover {
  background-color: #60a101;
  color: white;
}

.welcome-button a,
.back-button a,
.error-button a {
  color: white;
  text-decoration: none;
}

.back-button {
  width: 150px;
  height: 40px;
  margin: 25px 10px 10px;
  border-radius: 10px;
  background-color: #f98a19;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 6s steps(40, end);
  font-size: 50px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: -40px;
}

.cub-logo {
  width: 130px;
  height: auto;
  position: relative;
  top: -11px;
}

.error-text {
  color: #fff;
}
.bigWelcomeImage {
  width: auto;
  height: 80vh;
}

.gameChoice {
  background-color: #f9891983;
  width: 350px;
  height: 300px;
  border-radius: 10px;
}

.gameChoice:hover {
  background-color: #60a101;
  color: white;
}

.gameChoice a {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
}

.game-header {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  background-color: #f9891983;
  width: 66%;
  margin: 0 auto;
  border-radius: 10px;
}

.game-titles {
  margin-top: 15px;
  font-size: 30px;
}

.question-box {
  background-color: #f9891983;
  height: 300px;
  width: 480px;
  margin: 60px auto 0;
}

.copyright {
  color: #fff;
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-weight: bolder;
}
